@page "/statisticsdata"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

@inject HttpClient Http


<h1>Charts</h1>

@if (houses == null)
{
    <Wave Size="70px" />
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>City</th>
                <th>Price</th>
                <th>Grade</th>
                <th>SqftLot</th>
                <th>MaxPrice</th>
                <th>MinPrice</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var house in houses)
            {
                <tr>
                    <th>@house.City</th>
                    <th>@house.Price</th>
                    <th>@house.Grade</th>
                    <th>@house.SqftLot</th>
                    <th>@house.MaxPrice</th>
                    <th>@house.MinPrice</th>
                    <th>@house.DateOfStatistic</th>
                </tr>
            }
        </tbody>
    </table>
    <Line Data="Cities" Config="config" />
    //<Line Data="Singapore" Config="configTexas" />
}
