@page "/statisticsdata"
@inject HttpClient Http


<h3>Statistics Data</h3>

@if (houses == null)
{
    <Wave Size="70px" />
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>City</th>
                <th>Price</th>
                <th>Grade</th>
                <th>SqftLot</th>
                <th>MaxPrice</th>
                <th>MinPrice</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var house in houses)
            {
            <tr>
                <th>@house.City</th>
                <th>@house.Price</th>
                <th>@house.Grade</th>
                <th>@house.SqftLot</th>
                <th>@house.MaxPrice</th>
                <th>@house.MinPrice</th>
                <th>@house.DateOfStatistic</th>
            </tr>
            }
        </tbody>
    </table>
}


@code {
    private Statistics[] houses;

    private string apiUrl = "http://localhost:5000/api/v1/statistica";

    protected override async Task OnInitializedAsync()
    {
        houses = await Http.GetFromJsonAsync<Statistics[]>(apiUrl);
    }

    public class Statistics
    {
        public string City { get; set; }
        public double? Price { get; set; }
        public double? SqftLot { get; set; }
        public double? Grade { get; set; }
        public double? MaxPrice { get; set; }
        public double? MinPrice { get; set; }
        public DateTime DateOfStatistic { get; set; }

    }

}
